body {
  margin: 0;
}

h3 {
  color: black;
}

.aaron {
  color: #ABCDEF;
}

.austin {
  color: #123456;
}

.tony {
  color: #6B91FF;
}

.max {
  color: #107563;
}

.cathy {
  color: #FFA12F;
}

.jessica {
  color: #FF5F36;
}

.ariel {
  color: #c1272d;
}

.ariel2 {
  color: #FF69B4;
}

.fred {
  color: #3471EB;
}
.chujia{
  color: #30FFEA
}
